body {
background:linear-gradient(to right, black , magenta);
}
.wrapper {
    width: 340px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: black;
    padding: 0px;
    color: palevioletred;
    text-align: center;
    border-radius: 0px;
}
.table {
    padding: 0px;
}
#numinput {
    height:70px;
    width: 340px;
    font-size: 30px;
    border: 0px;
    border-radius: 0px;
    padding: 0px;
    background: rgb(68, 67, 67);
    color: antiquewhite;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.button{
    background: magenta;
    border: none;
    color: black;
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 5px;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

.button:hover {
background-color: rgb(248, 171, 248);
color: rgb(51, 50, 50);
}


